**

# .git directories required for generating version.txt

!/.git/
!/docs/
!/files/
!/test/files/

!/client/.browserslistrc
!/client/.git/
!/client/package.json
!/client/package-lock.json
!/client/vue.config.js
!/client/public/
!/client/src/

!/server/.npmrc
!/server/.git/
!/server/package.json
!/server/package-lock.json
!/server/Makefile
!/server/pm2.config.js
!/server/config/
!/server/docs/
!/server/lib/
