**

# .git directories required for generating version.txt

!/.git/
!/docs/
!/files/
!/test/files/

!/client/.browserslistrc
!/client/.eslintrc.js
!/client/.tx/config
!/client/.git/
!/client/icomoon.json
!/client/jsconfig.json
!/client/package.json
!/client/package-lock.json
!/client/vue.config.js
!/client/bin/
!/client/docs/
!/client/public/
!/client/src/
!/client/transifex/

!/server/.npmrc
!/server/.git/
!/server/package.json
!/server/package-lock.json
!/server/Makefile
!/server/pm2.config.js
!/server/config/
!/server/docs/
!/server/lib/
