# Metadata
SYSADMIN_EMAIL='<email>'

# Networking
HOST_IPV4='<IPv4>'
HOST_IPV6='<IPv6>'
HOST_SERVER_PORT='<port>'
HOST_ENKETO_PORT='<port>'
DOMAIN='<address>'
HTTP_PORT='<port>'
HTTPS_PORT='<port>'
UPSTREAM_HTTPS_PORT='<port>'

# Security
SSL_TYPE='upstream'
SESSION_LIFETIME='<integer>'

# Database
PGHOST='<address>'
PGUSER='<user>'
PGPASSWORD='<password>'
PGDATABASE='<name>'
PGAPPNAME='<name>'
DB_POOL_SIZE='<integer>'

# Mailing
EMAIL_HOST='<address>'
EMAIL_PORT='<port>'
EMAIL_IGNORE_TLS='<true|false>'
EMAIL_SECURE='<true|false>'
EMAIL_USER='<email>'
EMAIL_FROM='<email>'
EMAIL_PASSWORD='<password>'

# SSO
OIDC_ENABLED='<true|false|empty>'
OIDC_ISSUER_URL='<address|empty>'
OIDC_CLIENT_ID='<ID|empty>'
OIDC_CLIENT_SECRET='<secret|empty>'

# Error Reporting
SENTRY_ORG_SUBDOMAIN='<address|empty>'
SENTRY_KEY='<key|empty>'
SENTRY_PROJECT='<name|empty>'
SENTRY_TRACE_RATE='<float|empty>'

# S3 Storage
S3_SERVER='<address|empty>'
S3_ACCESS_KEY='<key|empty>'
S3_SECRET_KEY='<key|empty>'
S3_BUCKET_NAME='<name|empty>'