[submodule "server"]
	path = server
	url = https://github.com/drguptavivek/central-backend.git
[submodule "client"]
	path = client
	url = https://github.com/drguptavivek/central-frontend.git
[submodule "agentic_kb"]
	path = agentic_kb
	url = https://github.com/drguptavivek/agentic_kb.git
