.DS_Store
*.swp
*.swo
/.env
/version.txt

__pycache__/
*.pyc
*.pyo
*.pyd


/logs/
/tmp/
/files/postgres14/backups/*
!/files/postgres14/backups/.gitkeep
/files/postgres14/backups/backup.log

/files/postgres14/upgrade/*
!/files/postgres14/upgrade/check-available-space

/files/local/customssl/*.pem

/files/mail/rsa.private
/files/mail/rsa.public

/files/dkim/*
