version: "3"
services:
  postgres:
    image: "postgres:9.6"
    volumes:
      - /var/lib/postgresql/data
    environment:
      POSTGRES_USER: odk
      POSTGRES_PASSWORD: odk
      POSTGRES_DATABASE: odk
  mail:
    container_name: mail
    image: "itsissa/namshi-smtp:4.89-2.deb9u5"
    volumes:
      - ./files/dkim/config:/etc/exim4/_docker_additional_macros:ro
      - ./files/dkim/rsa.private:/etc/exim4/domain.key:ro
    environment:
      - MAILNAME=${DOMAIN}
  service:
    container_name: service
    build:
      context: .
      dockerfile: service.dockerfile
    depends_on:
      - postgres
      - mail
    volumes:
      - /data/transfer:/data/transfer
    environment:
      - DOMAIN=${DOMAIN}
    command: [ "./wait-for-it.sh", "postgres:5432", "--", "./start-odk.sh" ]
  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: nginx.dockerfile
    depends_on:
      - service
    environment:
      - SSL_TYPE=${SSL_TYPE}
      - DOMAIN=${DOMAIN}
      - CERTBOT_EMAIL=${SYSADMIN_EMAIL}
    ports:
      - "80:80"
      - "443:443"
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 443 || exit 1" ]
  pyxform:
    container_name: pyxform
    image: 'getodk/pyxform-http:v1.0.0'
volumes:
  transfer:

