{
  "default": {
    "database": {
      "host": "${DB_HOST}",
      "user": "${DB_USER}",
      "password": "${DB_PASSWORD}",
      "database": "${DB_NAME}",
      "ssl": ${DB_SSL}
    },
    "email": {
      "serviceAccount": "${EMAIL_FROM}",
      "transport": "smtp",
      "transportOpts": {
        "host": "${EMAIL_HOST}",
        "port": ${EMAIL_PORT},
        "secure": ${EMAIL_SECURE},
        "ignoreTLS": ${EMAIL_IGNORE_TLS},
        "auth": {
          "user": "${EMAIL_USER}",
          "pass": "${EMAIL_PASSWORD}"
        }
      }
    },
    "xlsform": {
      "host": "127.0.0.1", // localhost doesn't work here - don't know why (shrug)
      "port": 5001
    },
    "enketo": {
      "url": "http://localhost:8005/-",
      "apiKey": "enketorules"
    },
    "env": {
      "domain": "http://localhost:8989",
      "sysadminAccount": "${SYSADMIN_EMAIL}"
    },
    "oidc": {
      "enabled": ${OIDC_ENABLED},
      "issuerUrl": "${OIDC_ISSUER_URL}",
      "clientId": "${OIDC_CLIENT_ID}",
      "clientSecret": "${OIDC_CLIENT_SECRET}"
    },
    "external": {
      "sentry": {
        "orgSubdomain": "${SENTRY_ORG_SUBDOMAIN}",
        "key": "${SENTRY_KEY}",
        "project": "${SENTRY_PROJECT}"
      }
    }
  }
}
