0 5 * * * root /usr/bin/with-pgenvblock.pl /dev/shm/docker-envblock /usr/odk/upload-blobs.sh
0 4 * * * root /usr/bin/with-pgenvblock.pl /dev/shm/docker-envblock /usr/odk/purge.sh
0 3 * * * root /usr/bin/with-pgenvblock.pl /dev/shm/docker-envblock /usr/odk/run-analytics.sh
0 2 * * * root /usr/bin/with-pgenvblock.pl /dev/shm/docker-envblock /usr/odk/process-backlog.sh
0 1 * * 0 root /usr/bin/with-pgenvblock.pl /dev/shm/docker-envblock /usr/odk/reap-sessions.sh
