body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}

p {
  margin: 0 0 10px;
}

a, a:hover {
  color: #0c7bd1;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:hover, a:active, a:focus {
  outline: none;
}

a:focus {
  background-color: rgba(0, 0, 0, 0.06);
  color: #23527c;
  text-decoration: underline;
}

@media print {
  a, a:visited {
    text-decoration: none;
  }
}

.news-item {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-date {
  max-width: 72px;
  overflow: hidden;
  position: absolute;
}

.no-date {
  left: 29px;
  position: absolute;
}

.no-date::after {
  content: '\2014';
}

.news-item a {
  margin-left: 82px;
}
