name: GHCR

on:
  workflow_dispatch:
  # See: https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#workflow_run
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: [master]
    tags: ["v*.*.*"]

env:
  REGISTRY: ghcr.io

jobs:
  check-images-are-used:
    # Only run this job if tests pass, or this workflow was triggered manually.
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        image: [nginx, service]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/central-${{ matrix.image }}
      - name: "Checking release image is referenced in docker-compose.yml..."
        if: ${{ github.ref_type == 'tag' }}
        run: 'grep "${{ steps.meta.outputs.tags }}" docker-compose.yml'

  build-push-image:
    needs: check-images-are-used
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        image: [nginx, service]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/central-${{ matrix.image }}

      - name: Set up QEMU emulator for multi-arch images
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.image }} Docker image
        uses: docker/build-push-action@v5
        with:
            file: ${{ matrix.image }}.dockerfile
            context: .
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
            platforms: 'linux/amd64,linux/arm64'
