name: Test

on:
  push:
  pull_request:

jobs:
  test-misc: # quick, simple checks
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: sudo apt-get install shellcheck
    - run: ./test/check-scripts.sh
    - run: ./test/check-dockerfiles.sh
  test-envsub:
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive
    - run: cd test/envsub && ./run-tests.sh
  test-nginx:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive
    - uses: actions/setup-node@v4
      with:
        node-version: 22.12.0
    - run: cd test/nginx && npm i
    - run: cd test/nginx && ./run-tests.sh

    - if: always()
      run: cd test/nginx && docker compose -f nginx.test.docker-compose.yml logs --no-log-prefix nginx
    - if: always()
      run: cd test/nginx && docker compose -f nginx.test.docker-compose.yml logs --no-log-prefix service
    - if: always()
      run: cd test/nginx && docker compose -f nginx.test.docker-compose.yml logs --no-log-prefix enketo
  test-images:
    needs:
    - test-misc
    - test-envsub
    - test-nginx
    runs-on: ubuntu-latest # TODO matrix to run on all expected versions?
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive
    - run: ./test/test-images.sh
    - if: always()
      run: docker compose logs
