name: Test

on:
  push:
  pull_request:

jobs:
  test-nginx:
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        submodules: recursive
    - uses: actions/setup-node@v4
      with:
        node-version: 22.21.0
    - run: cd test/nginx && npm clean-install
    - run: cd test/nginx && npm run lint
    - run: cd test/nginx && ./run-tests.sh

    - if: always()
      run: cd test/nginx && docker compose -f nginx.test.docker-compose.yml logs --no-log-prefix nginx
    - if: always()
      run: cd test/nginx && docker compose -f nginx.test.docker-compose.yml logs --no-log-prefix service
    - if: always()
      run: cd test/nginx && docker compose -f nginx.test.docker-compose.yml logs --no-log-prefix enketo
